/* Program Component Styles */

.program-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.program-layout {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.program-item {
  z-index: 1;
  background-color: #f5f5f5;
  padding: 24px;
  position: relative;
  overflow: hidden;
}

.program-item-gap {
  width: 100%;
}

.program-item-icon-wrap {
  margin-bottom: 24px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.program-item-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.program-item-title-wrap {
  margin-bottom: 16px;
}

.program-item-title {
  font-size: var(--_font-size---fz-32);
  font-weight: 500;
  line-height: 40px;
}

.program-item-text-wrap {
  width: 100%;
  max-width: 332px;
}

.program-item-text {
  font-size: var(--_font-size---fz-14);
  letter-spacing: var(--_letter-spacing---ls-1);
}

.program-item-bg {
  display: none;
}

.program-item-shape-wrap {
  display: none;
}

.common-shape-wrap.program-item-shape {
  display: none;
}

/* Tablet Styles */
@media screen and (max-width: 991px) {
  .program-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .program-layout {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .program-item-shape-wrap {
    top: -40%;
    right: -40%;
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .program-layout {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .program-item {
    padding: 20px;
  }

  .program-item-icon-wrap {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }
}

/* Small Mobile Styles */
@media screen and (max-width: 479px) {
  .program-layout {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .program-item-shape-wrap {
    top: -50%;
    right: -50%;
  }
}